# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/Debug/Win32/OpenGL.ilk
bin/Debug/Win32/OpenGL.pdb
bin/Debug/x64/OpenGL.pdb
bin/intermediates/Debug/Win32/OpenGL.Build.CppClean.log
bin/intermediates/Debug/Win32/OpenGL.log
bin/intermediates/Debug/Win32/OpenGL.vcxproj.FileListAbsolute.txt
bin/intermediates/Debug/Win32/vc142.idb
bin/intermediates/Debug/Win32/vc142.pdb
bin/intermediates/Debug/Win32/OpenGL.tlog/CL.command.1.tlog
bin/intermediates/Debug/Win32/OpenGL.tlog/CL.read.1.tlog
bin/intermediates/Debug/Win32/OpenGL.tlog/CL.write.1.tlog
bin/intermediates/Debug/Win32/OpenGL.tlog/link.command.1.tlog
bin/intermediates/Debug/Win32/OpenGL.tlog/link.read.1.tlog
bin/intermediates/Debug/Win32/OpenGL.tlog/link.write.1.tlog
bin/intermediates/Debug/Win32/OpenGL.tlog/OpenGL.lastbuildstate
bin/intermediates/Debug/x64/OpenGL.Build.CppClean.log
bin/intermediates/Debug/x64/OpenGL.log
bin/intermediates/Debug/x64/OpenGL.vcxproj.FileListAbsolute.txt
bin/intermediates/Debug/x64/vc142.idb
bin/intermediates/Debug/x64/vc142.pdb
bin/intermediates/Debug/x64/OpenGL.tlog/CL.command.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/CL.read.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/CL.write.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/link.command.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/link.read.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/link.write.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/link-cvtres.read.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/link-cvtres.write.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/link-rc.read.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/link-rc.write.1.tlog
bin/intermediates/Debug/x64/OpenGL.tlog/OpenGL.lastbuildstate
bin/intermediates/Debug/x64/OpenGL.tlog/unsuccessfulbuild
.vs/OpenGL/v16/.suo
.vs/OpenGL/v16/Browse.VC.db
.vs/OpenGL/v16/Browse.VC.opendb
.vs/OpenGL/v16/ipch/AutoPCH/3396e994816071b8/VERTEXARRAY.ipch
.vs/OpenGL/v16/ipch/AutoPCH/eef19ce7251b183b/VERTEXARRAY.ipch
.vs/
